# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]

# ===============================
# Virtual environments
# ===============================
.venv/
.venv311/
venv/

# ===============================
# VSCode / IDE
# ===============================
.vscode/
.idea/

# ===============================
# Data & datasets
# ===============================
data/
images/
metrics/

# ===============================
# Model weights & checkpoints
# ===============================
pretrained/
runs/
--checkpoint/
*.pt
*.pth
*.ckpt
*.h5

# ===============================
# Experiment outputs
# ===============================
outputs/
logs/
results/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db
